* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: #E0E2DB;
    
}
button:hover {
    cursor: pointer;
}

/* ----------------------------------------------------------Header------------------------------------------------------------------------- */
header {
    background-color: #2E3532;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 5px solid black;
    
}

a {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 30px;
    background-color: #D2D4C8;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid black;
    
    
    
}

a:hover {
    cursor: pointer;
}

h1 








/* ----------------------------------------------------------CONTAINER TWO------------------------------------------------------------------------- */
#container-two {
    display: flex;
    background-color: red;
    width: 600px;
    height: 80vh;
    margin: 20px;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    padding: 20px;
}

#day-info {
    background-color: #2E3532;
    width: 650px;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-top: 30px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    border: 5px solid black;
}

#ticket-info {
    background-color: #2E3532;
    height: 822px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 25px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    border-bottom: 5px solid black;
    /* border-top: 4px solid black; */
    border-right: 5px solid black;
    border-left: 5px solid black;
}
#digital-clock {
    background-color: #D2D4C8;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 2px solid black;
    border-left: 4px solid black;
}
#date {
    background-color: #D2D4C8 ;
    width: 500px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 2px solid black;
}
 #ticket-container {
    /* background-color: green; */
    height: 720px;
    width: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
    overflow-y:auto

 }

/* ----------------------------------------------------------CONTAINER ONE------------------------------------------------------------------------- */
h2 {
    background-color: #D2D4C8;
    padding: 10px;
    /* font-size: 20px; */
    border-radius: 20px;
    box-shadow: 0px 3px 8px 0 black;
}
#container-one {
    display: flex;
    background-color: #8B2635;
    width: 1200px;
    height: 100vh;
    margin: 30px;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-radius: 20px ;
    border: 5px solid black;
}

#event-container {
    /* background-color: red; */
    height: 860px;
    width: 1120px;
    display: flex;
    flex-direction: column;
    
    
    overflow-y:auto
}
/* ----------------------------------------------------------Test Page------------------------------------------------------------------------- */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 200px;
    margin-top: 20px;
}

/* ----------------------------------------------------------Event Card------------------------------------------------------------------------- */

.event-card {
    border: 2px solid black;
    background-color: #2E3532;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
}

.event-card > h2 {
    margin-bottom: 10px;
}

.event-card > button {
    margin-top: 10px;
    padding: 2px 10px;
}



/* ----------------------------------------------------------Ticket Container------------------------------------------------------------------------- */
.ticket-card {
    border: 2px solid black;
    background-color: #8B2635;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
}

.ticket-card > h3 {
    margin-bottom: 10px;
}

.ticket-card > button {
    margin-top: 10px;
    padding: 2px 10px;


}

/* ----------------------------------------------------------ETC------------------------------------------------------------------------- */

.expand {
    transform: scale(2, 2);
    transition: 1s;
    width: 350px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0.5px black;
    transition: 1s;
}

#date {
    font-size: 40px;
}

h3 {
    color: #E0E2DB;
}

#ticket-id {
    color: black ;
}


